<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h2 class="col-md-3">{{ date }}</h2>
        </div>
        <div class="col-md-3">
            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" required></my-date-picker>
        </div>
    </div>
    <div class="row">
        <div *ngIf="!albums">Loading...</div>
        <div *ngFor="let album of albums">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <img src="{{ album.imageLarge }}" />
                <p> {{ album.name }} </p>
            </div>
        </div>
    </div>
</div>