<div class="container-fluid">
    <div class="row">
        <div class="center col-xs-9 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" type="date" [(ngModel)]="selectedDate" (change)="change()" />
        </div>
    </div>
    <div class="row">
        <div *ngIf="!loaded">Loading...</div>
        <div *ngFor="let album of albums">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="bordered-image center">
                    <img src="{{ album.imageExtraLarge }}" onerror="this.src='images/album.png'" />
                    <p class="text-center">
                        {{ album.artist }} - {{ album.name }}, {{ album.releaseDate | date: 'd.M.yyyy.' }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>