@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 content">
        <p>
            I am a huge music fan and I have always liked to relisten albums on their anniversaries. The problem was, there
            was no way to keep the track of all the album. For that reason I made this website.
        </p>
        <p>
            It is (at the moment) very
            simple page: it shows the albums released on today's date. You can also pick any other date to see which albums
            were released that day (for example, if you want to know if you share birthdays with any of your favorites).
        </p>
        <p>
            The hardest part of making this application was/is collecting data for database and still, the number of entries
            in database is relatively small. Also, the big problem is that site whose service I used didn't update some, for
            this site, crucial informations so there aren't many albums from last few years (yet).
        </p>
        <p>
            Anyways, big thanks to <a href="https://www.last.fm/home">Last.fm</a> and 
            <a href="https://musicbrainz.org">MusicBrainz</a>. I used their pretty dope services.
        </p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <span><a href="https://www.last.fm/user/GhostOfTheFall">Follow me on Last.fm!</a></span>
    </div>
</div>
