@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Support:</strong> <a href="mailto:tomislav.95og@gmail.com">tomislav.95og@gmail.com</a><br />
</address>

<h3>Bugs</h3>
<p>
    The website is in the early stage so there are still some known bugs. Please, contact me about less obvious ones (e.g. 
    if you know certain albums weren't released on said day).<br />
    But really, contact me about any mistake you spot.
</p>

<h3>Suggestions</h3>
<p>
    This website has a simple and clear purpose but I'm looking for suggestions anyway. Contact me if you have any suggestion
    that could make it better (on looks, too).
</p>
