.center {
    margin-top: 17px;
    margin-bottom: 3px;
}

.bordered-image, .bordered-image > a {
    max-width: 250px;
    width: 220px;
    height: 300px;
    padding-top: 5px;
}

.bordered-image > p {
    font-size: 16px;
    font-weight: bold;
}

.bordered-image > img, .bordered-image > a > img {
    width: 220px;
}
